doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (1===1) {
          console.log(1 + 8)
      }
  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.test
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.

 - var arr = ['<a>','<b>','<c>']
    .col-xs-12.col-sm-6.col-md-4.col-lg-3
      header hello
      bst-table.table.table-bordered.table-hover
        thead
          tr moose
            td test
          tr iphone
            th
        tbody
          tr
            td

        bst-button
        form(action="", method="POST", role="form")
          legend Moose Hello
          .form-group
            label(for="") label
            input.form-control(type="text", placeholder="Input field")
          button.btn.btn-primary(type="submit") Submit

          bst-button hello

          - var arr = ['<a>','<b>','<c>']
          ul
            - for (var i = 0; i< arr.length; i++)
              li
                span= i
                span!=" unescaped: " + arr[i] + " vs. "
                span= " escaped: " + arr[i]

          - var languages = {'php': -1, 'node': 2, 'ruby':1}
          div
            each value, key in languages
              p= key + ": " + value

          - var title = "Express.js Guide MOOSE"
          p Read the #{title} in PDF, MOBI and EPUB

    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")

    script(src="https://code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous")
    script(src="js/scripts.js")

